.table-wrapper {
  position: relative;
}

.table-viewport {
  height: 450px;
  border: 1px solid blue;

  .table-header{
    position: sticky;
    top: 0;
    z-index: 10;
    font-family: 'Nunito', sans-serif;
    display: grid;

    &-column {
      background-color: var(--light-gray-color);
      border-right: 1px solid black;
      padding: 15px 20px;
      cursor: pointer;
      word-wrap: break-word;
      min-width: 120px;

      &:last-child {
        border: none;
      }
    }
  }

  .table-item {
    display: grid;

    &_cell {
      padding: 15px 20px;
      border-right: 1px solid gray;
      border-bottom: 1px solid gray;
      word-wrap: break-word;
      min-width: 120px;

      &:last-child {
        border-right: none;
      }
    }
  }
}

.export_btn {
  position: absolute;
  bottom: -50px;
  right: 0;
}
