<div class='table-wrapper'>
    <div class='table-viewport' cdkVirtualScrollingElement>
        <div class='table-header' [ngStyle]="{'grid-template-columns': 'repeat(' + keys.length + ' , 1fr)'}">
            <div class='table-header-column' *ngFor='let key of keys' (click)='updateColumnSort(key)'>
                {{key}}
                <i kbq-icon='mc-angle-down-L_16' [color]='colors.Contrast'
                   *ngIf="columnSortOrder === 'asc' && args().sort.field === key"></i>
                <i kbq-icon='mc-angle-up-L_16' [color]='colors.Contrast'
                   *ngIf="columnSortOrder === 'desc' && args().sort.field === key"></i>
            </div>
        </div>
        <cdk-virtual-scroll-viewport itemSize='50'>
            <div *cdkVirtualFor='let item of data' class='table-item'
                 [ngStyle]="{'grid-template-columns': 'repeat(' + keys.length + ' , 1fr)'}"
            >
                <div class='table-item_delete-btn' (click)='showDeleteModal(item.id)'>
                    <i kbq-icon='mc-close-L_32' [color]='colors.Default'></i>
                </div>
                <div class='table-item_cell' *ngFor='let key of keys'>{{item[key]}}</div>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
    <button
        class='export_btn'
        kbq-button
        [color]='colors.Contrast'
        (click)='exportCSV()'
    >
        <i kbq-icon='mc-download_16'></i>
        Экспортировать
    </button>
</div>